.mat-header-cell {
    font-size: 15px;
    font-weight: 600;
    background-color: aliceblue;
    /* font-weight: bold; */
}
.mat-standard-chip {
   
    min-height: 20px;
}
.mat-standard-chip {
    margin: 4px;
    font-size: 10px;
}