<div class="flex flex-col sm:flex-row items-center md:items-center sm:justify-center md:justify-center flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-120 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="flex flex-col jsutify-center items-center mb-4">
                <img src="assets/images/logo/picllary-theme-logo.png" class="w-60">
            </div>
            <mat-card class="mat-card mat-focus-indicator">
                <mat-card-content class="mat-card-content">
                    <div class="flex flex-col jsutify-center items-center mt-8 text-4xl font-extrabold tracking-tight leading-tight mb-6">Forgot your password?</div>
                    <div class="flex flex-col jsutify-center items-center mb-4">
                        <img src="assets/images/logo/Ooops.png" class="w-60">
                    </div>
                    <div class="flex flex-col jsutify-center items-center" style="font-size: x-large;">Enter your email to reset your</div>
                    <div class="flex flex-col jsutify-center items-center mt-2" style="font-size: x-large;">password</div>
                    <!-- Alert -->
                    <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'"> {{alert.message}}</fuse-alert>

                    <!-- Forgot password form -->
                    <form class="mt-8" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">

                        <!-- Email field -->
                        <div class="flex flex-col jsutify-center items-center">
                            <mat-form-field class="w-5/6">
                                <mat-icon matPrefix>email</mat-icon>
                                <input
                                    id="email"
                                    matInput
                                    [formControlName]="'email'" placeholder="Oops@monkey.com">
                                <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                                    Email address is required
                                </mat-error>
                                <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Submit button -->
                        <div class="flex flex-col jsutify-center items-center mt-3">
                            <button
                                class="fuse-mat-button-large w-100"
                                style="background-color: #58c05b !important;"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="forgotPasswordForm.disabled"
                                (click)="sendResetLink()">
                                <span *ngIf="!forgotPasswordForm.disabled">
                                    Send reset link
                                </span>
                                <mat-progress-spinner
                                    *ngIf="forgotPasswordForm.disabled"
                                    [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </div>
                    </form>
                    
                    <div class="flex flex-wrap justify-center items-center mt-4 font-normal">
                        <a
                            class="ml-0 text-primary-500"
                            [routerLink]="['/sign-in']">Sign up
                        </a>
                        <div>Or</div>
                        <a
                            class="ml-0 text-primary-500"
                            [routerLink]="['/sign-in']">Sign in
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
