<div class="flex flex-col flex-auto">
   

     <!-- Header1 -->
     <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="mt-2">
               
            <!-- Search Bar-->
                <div class="flex items-center flex-auto">
                    <mat-form-field
                        class="fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript flex-auto ml-4 lg:ml-0">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'" matPrefix></mat-icon>
                        <input [formControl]="searchControl" matInput [autocomplete]="'off'" [placeholder]="'Search Public Events'" #searchInput>
                        <button (click)="clearSearchText()"
                                mat-icon-button
                                matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    </button>
                    </mat-form-field>
                   
                </div>
            </div>

        </div>
    </div><br/>
    <!-- /Header1 -->
     <!-- Masonry layout -->
     <ng-container *ngIf="loading; else loading">
        <ng-container *ngIf="(publicEvents?.length); else noImages">
            <fuse-masonry
            class="-mx-2" 
            style="padding: 10px;"
            [items]="publicEvents"
            [columns]="masonryColumns"
            [columnsTemplate]="columnsTemplate">
            <!-- Columns template -->
            <ng-template
                #columnsTemplate
                let-columns>
                <!-- Columns -->
                <ng-container *ngFor="let column of columns; trackBy: trackByFn">
                    <!-- Column -->
                    <div class="flex-1 px-2 space-y-4">
                        <ng-container *ngFor="let res of column.items; trackBy: trackByFn">
                            
                            <fuse-card class="flex flex-col">
                                <ng-container *ngIf="res.images">
                                    <div class="flex mx-6 sm:mx-8 mb-4 cursor-pointer" style="padding-top: 25px;"
                                        [routerLink]="['/events', res.eventId]">
                                        <div class="flex h-60 pr-1">
                                            <img
                                                class="rounded object-cover"
                                                [src]= "res.images[0] ? res.images[0] : 'assets/images/noImage.png'"
                                                alt="Card cover image">
                                        </div>
                                        <div class="flex flex-col pl-1">
                                            <div class="flex pb-1" style="height: 7.5rem !important;">
                                                <img
                                                    class="rounded object-cover"
                                                    [src]= "res.images[1] ? res.images[1] : 'assets/images/noImage.png'"
                                                    alt="Card cover image">
                                            </div>
                                            <div class="flex pt-1" style="height: 7.5rem !important;">
                                                <img
                                                    class="rounded object-cover"
                                                    [src]= "res.images[2] ? res.images[2] : 'assets/images/noImage.png'"
                                                    alt="Card cover image">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <div>
                                    <div class="text-md font-semibold leading-none tracking-wide text-primary mb-1" style="padding-left: 25px;">{{res.eventName}}</div>
                                    <hr class="border-b mx-6 mt-4 mb-6"/>
                                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 mb-4 ">
                                        <div class="flex items-center">
                                            <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden cursor-pointer"
                                            [routerLink]="['/profile', res.user.userId]">
                                                <ng-container *ngIf="res.user.profilePhoto">
                                                     <img class="w-10 h-10 rounded-full" [src]="res.user.profilePhoto">
                                                </ng-container>
                                                <ng-container *ngIf="!res.user.profilePhoto">
                                                    <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                        {{res.user.firstName.charAt(0)}}
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="flex flex-col ml-3 cursor-pointer" [routerLink]="['/profile', res.user.userId]">
                                                <span class="font-medium leading-none">{{res.user.firstName}}&nbsp;{{res.user.lastName}}</span>
                                                <span class="text-sm text-secondary leading-none mt-1">{{res.createdAt | date}}</span>
                                            </div>
                                        </div>
                                        <div class="hidden sm:flex flex-auto"></div>
                                        <div class="flex items-center mt-4 sm:mt-0">
                                            <div
                                                class="flex items-center m-1 py-0.5 px-3 rounded-full text-sm font-medium text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                Total Images: &nbsp;<span style="color: black;"> {{res.imageCount}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fuse-card>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-template>
            </fuse-masonry>
        </ng-container>
    </ng-container>

      <!-- Loading template -->
      <ng-template #loading>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Loading...</div>
        </div>
    </ng-template>

    <!-- No notes template -->
    <ng-template #noImages>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon class="icon-size-24" [svgIcon]="'iconsmind:file_hide'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no Events!</div>
        </div>
    </ng-template>

    <!-- Error -->
    <ng-container #error *ngIf="isError">
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Error :(  try after some time !</div>
        </div>
    </ng-container>
</div>
